// Media sizes:
$media-laptop-large: "only screen and (max-width : 1440px)";
$media-laptop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile-large: "only screen and (max-width : 425px)";
$media-mobile-medium: "only screen and (max-width : 375px)";
$media-mobile-small: "only screen and (max-width : 320px)";
$media-mobile-and-higher-only: "only screen and (min-width : 426px)";
$media-tablets-and-higher-only: "only screen and (min-width : 769px)";
$media-laptops-and-higher-only: "only screen and (min-width : 1366px)";